.wrapper {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #ffc186;
}

.inner {
    position: absolute;
    height: 100%;
    width: 5em;
    background-color: #ff9e1c;
    animation: progress 2s infinite;
    animation-timing-function: linear;
}

@keyframes progress {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 5em);
    }
}
