.input__wrapper {
    display: flex;
    width: 30%;
    margin: 0 auto;
    border: 1px solid black;
}
.input{
    width: 100%;
    border: none;
}
.icon {
    display: inline;
    padding: 10px;
    width: 30px;
    background-color: black;
}