.wrapper {
   text-align: center;
}

.booksWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header {
    margin: .5em 0;
}

.button {
    margin: 0.5em 0;
    border: none;
    padding: 0.5em 1em;
    font-size: 2em;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: linear 0.3s;
}
.button:hover {
    color: black;
    background-color: white;
}